node red script.txt
[{"id":"d038f3ad.392d7","type":"http request","z":"57afb26f.aaf974","name":"IMDB search page","method":"GET","ret":"txt","url":"{{{topic}}}","tls":"","x":511,"y":1370,"wires":[["fb823b48.165928"]]},{"id":"fb823b48.165928","type":"html","z":"57afb26f.aaf974","name":"IMDB search query","tag":"td[class=\"primary_photo\"]","ret":"html","as":"single","x":648,"y":1427,"wires":[["2bdd371e.59c79"]]},{"id":"2bdd371e.59c79","type":"function","z":"57afb26f.aaf974","name":"template+func","func":"msg.payload = msg.payload[0];\n\nvar dem = msg.payload.split('a href=\"')[1].split('\">')[0];\n\nmsg.payload = {};\n\nmsg.payload = dem;\nmsg.payload = \"imdb.com\"+msg.payload;\n\nmsg.topic = msg.payload;\n\n/*var str = 'a b c';\nvar replaced = str.split(' ').join('+');\nmsg.payload = replaced;*/\n//msg.payload = msg.topic;\nreturn msg;","outputs":1,"noerr":0,"x":670,"y":1326,"wires":[["9d86da.9fb98928"]]},{"id":"e698da36.38d46","type":"mysql","z":"57afb26f.aaf974","mydb":"9b5e398.74a25c8","name":"mydatabase","x":288,"y":1372,"wires":[["39be72ff.6c994e"]]},{"id":"39be72ff.6c994e","type":"function","z":"57afb26f.aaf974","name":"adicionando pag de busca + bd","func":"\nvar str = msg.payload[0].name;\nvar replaced = str.split(' ').join('+');\nmsg.payload = replaced;\n\nmsg.topic = 'http://www.imdb.com/find?ref_=nv_sr_fn&q='+replaced;\n\nreturn msg;","outputs":1,"noerr":0,"x":362,"y":1426,"wires":[["d038f3ad.392d7"]]},{"id":"6497d6af.a29bf8","type":"http in","z":"57afb26f.aaf974","name":"movies page","url":"/redMovie","method":"get","swaggerDoc":"","x":96,"y":1349,"wires":[["db24fb00.8c3658"]]},{"id":"db24fb00.8c3658","type":"function","z":"57afb26f.aaf974","name":"slct from db","func":"//msg.topic = \"select id, nome, nota from movies order by nota desc limit 25\";\nmsg.topic = \"select name from imdb\";\nreturn msg;","outputs":1,"noerr":0,"x":100,"y":1425,"wires":[["e698da36.38d46"]]},{"id":"de9c7699.0d5958","type":"inject","z":"57afb26f.aaf974","name":"CREATE TABLE IMDB","topic":"CREATE TABLE imdb( id int  PRIMARY KEY AUTO_INCREMENT , name varchar(255));","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":118,"y":1555,"wires":[["76c02ff0.b30168"]]},{"id":"76c02ff0.b30168","type":"mysql","z":"57afb26f.aaf974","mydb":"9b5e398.74a25c8","name":"","x":357,"y":1550,"wires":[["6d9a8610.b16df"]]},{"id":"6d9a8610.b16df","type":"debug","z":"57afb26f.aaf974","name":"","active":true,"console":"false","complete":"payload","x":534,"y":1552,"wires":[]},{"id":"cd24b399.26f9a8","type":"comment","z":"57afb26f.aaf974","name":"Criação da tabela de filme","info":"","x":172,"y":1517,"wires":[]},{"id":"fb572e3b.c3741","type":"inject","z":"57afb26f.aaf974","name":"DROP TABLE IMDB","topic":"DROP TABLE IF EXISTS imdb","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":108,"y":1622,"wires":[["b70e3541.edab58"]]},{"id":"b70e3541.edab58","type":"mysql","z":"57afb26f.aaf974","mydb":"9b5e398.74a25c8","name":"","x":320,"y":1616,"wires":[["6bf44137.f21328"]]},{"id":"6bf44137.f21328","type":"debug","z":"57afb26f.aaf974","name":"","active":true,"console":"false","complete":"payload","x":491,"y":1615,"wires":[]},{"id":"a28c3f92.d4c868","type":"http in","z":"57afb26f.aaf974","name":"reset search query","url":"/reset","method":"get","swaggerDoc":"","x":125,"y":1682,"wires":[["168b96ff.973211"]]},{"id":"168b96ff.973211","type":"function","z":"57afb26f.aaf974","name":"drop if db","func":"//msg.topic = \"select id, nome, nota from movies order by nota desc limit 25\";\nmsg.topic = \"DROP TABLE IF EXISTS imdb\";\nreturn msg;","outputs":1,"noerr":0,"x":145,"y":1725,"wires":[["aa556898.2674c8"]]},{"id":"aa556898.2674c8","type":"mysql","z":"57afb26f.aaf974","mydb":"9b5e398.74a25c8","name":"","x":284,"y":1723,"wires":[["bae6ad3e.38e7c"]]},{"id":"bae6ad3e.38e7c","type":"function","z":"57afb26f.aaf974","name":"create db","func":"//msg.topic = \"select id, nome, nota from movies order by nota desc limit 25\";\nmsg.topic = \"CREATE TABLE imdb( id int  PRIMARY KEY AUTO_INCREMENT , name varchar(255));\";\nreturn msg;","outputs":1,"noerr":0,"x":326,"y":1681,"wires":[["e86c89be.345e"]]},{"id":"e86c89be.345e","type":"mysql","z":"57afb26f.aaf974","mydb":"9b5e398.74a25c8","name":"","x":448,"y":1717,"wires":[["b9fdd10.464b8b"]]},{"id":"c0db5d12.8012e8","type":"http response","z":"57afb26f.aaf974","name":"","x":596,"y":1717,"wires":[]},{"id":"b9fdd10.464b8b","type":"template","z":"57afb26f.aaf974","name":"html","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<html>\n  <head>\n      <meta http-equiv=\"refresh\" content=\"0; url=http://localhost:8080/Cinema/MoviePage.jsf\">\n    <title>movies from MySQL</title>\n    <meta name=\"viewport\" content=\"initial-scale=1.0, user-scalable=no\">\n    <meta charset=\"utf-8\">\n  </head>\n  <body>\n  {{{payload}}}\n  <a target=\"_blank\" href=\"http://localhost:8080/Cinema/MoviePage.jsf\">resetando...</a>\n</body>\n</html>\n","x":528,"y":1671,"wires":[["c0db5d12.8012e8"]]},{"id":"9d86da.9fb98928","type":"http request","z":"57afb26f.aaf974","name":"imdb movie page","method":"GET","ret":"txt","url":"{{{topic}}}","tls":"","x":877,"y":1347,"wires":[["72b3d9ec.d70ae"]]},{"id":"39eee7b1.1633","type":"http request","z":"57afb26f.aaf974","name":"imdb movie page","method":"GET","ret":"txt","url":"{{{topic}}}","tls":"","x":893,"y":1457,"wires":[["7a3a9b16.bf96b4","f2e8ffe6.3682c8"]]},{"id":"72b3d9ec.d70ae","type":"html","z":"57afb26f.aaf974","name":"Getting values from IMDB","tag":"span[itemprop=\"ratingValue\"]","ret":"text","as":"single","x":999,"y":1280,"wires":[["8b8faba2.3a35e8"]]},{"id":"7a3a9b16.bf96b4","type":"html","z":"57afb26f.aaf974","name":"Getting values from IMDB","tag":"h1[itemprop=\"name\"]","ret":"text","as":"single","x":1110,"y":1498,"wires":[["705387e.333bdf8"]]},{"id":"705387e.333bdf8","type":"function","z":"57afb26f.aaf974","name":"globals variables","func":"global.set(\"name\",msg.payload[0]);\n\n//msg.topic = \"INSERT INTO movies (nota,nome) VALUES( '\"+global.get(\"primeiron\")+\"', '\"+global.get(\"primeirom\")+\"')\";\n/*\nmsg.grade = global.get(\"primeiron\");\nmsg.movie = global.get(\"primeirom\");\n*/\nmsg.topic = \"INSERT INTO movies (nota,nome) VALUES( '\"+global.get(\"grade\")+\"', '\"+global.get(\"name\")+\"')\";\nreturn msg;","outputs":1,"noerr":0,"x":1234,"y":1411,"wires":[[]]},{"id":"f2e8ffe6.3682c8","type":"html","z":"57afb26f.aaf974","name":"Getting values from IMDB","tag":"div[class=\"poster\"]","ret":"html","as":"single","x":1353,"y":1569,"wires":[["9a8909de.5c0a98"]]},{"id":"8b8faba2.3a35e8","type":"function","z":"57afb26f.aaf974","name":"globals variables","func":"global.set(\"grade\",msg.payload[0]);\n\n//msg.topic = \"INSERT INTO movies (nota,nome) VALUES( '\"+global.get(\"primeiron\")+\"', '\"+global.get(\"primeirom\")+\"')\";\n/*\nmsg.grade = global.get(\"primeiron\");\nmsg.movie = global.get(\"primeirom\");\n*/\nreturn msg;","outputs":1,"noerr":0,"x":1247,"y":1248,"wires":[["39eee7b1.1633"]]},{"id":"4ba8df63.bd23c8","type":"function","z":"57afb26f.aaf974","name":"inserting in db","func":"msg.payload = global.get(\"name\") + global.get(\"grade\");\nmsg.topic = \"INSERT INTO movies (nota,nome,img) VALUES( '\"+global.get(\"grade\")+\"', '\"+global.get(\"name\")+\"', '\"+global.get(\"img\")+\"')\";\n\nmsg.payload += '<img src=\"'+global.get(\"img\")+'\">';\nreturn msg;","outputs":1,"noerr":0,"x":1394,"y":1328,"wires":[["c0ebba91.5f254","bc7078a8.b90658","e33c4dec.7a0b6"]]},{"id":"c0ebba91.5f254","type":"debug","z":"57afb26f.aaf974","name":"","active":true,"console":"false","complete":"payload","x":1599,"y":1185,"wires":[]},{"id":"bc7078a8.b90658","type":"mysql","z":"57afb26f.aaf974","mydb":"9b5e398.74a25c8","name":"","x":1632,"y":1241,"wires":[[]]},{"id":"34474730.422f6","type":"http response","z":"57afb26f.aaf974","name":"","x":1773,"y":1296,"wires":[]},{"id":"e33c4dec.7a0b6","type":"template","z":"57afb26f.aaf974","name":"html","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<html>\n  <head>\n    <title>movies from MySQL</title>\n    <meta name=\"viewport\" content=\"initial-scale=1.0, user-scalable=no\">\n    <meta charset=\"utf-8\">\n  </head>\n  <body>\n      <h4>Filme adicionado</h4>\n  {{{payload}}}\n  <p><a href=\"http://localhost:1880/reset\">Adicione outro filme</a></p>\n  <p><a href=\"http://localhost:8080/Cinema/userpage.jsf\">voltar para pagina inicial</a></p>\n</body>\n</html>\n","x":1561,"y":1369,"wires":[["34474730.422f6"]]},{"id":"4d273e0.df64344","type":"debug","z":"57afb26f.aaf974","name":"","active":true,"console":"false","complete":"payload","x":1626,"y":1530,"wires":[]},{"id":"9a8909de.5c0a98","type":"function","z":"57afb26f.aaf974","name":"template+func","func":"msg.payload = msg.payload[0];\nvar dem = msg.payload.split('src=\"')[1].split('\"')[0];\n\nmsg.payload = {};\n\nmsg.payload = dem;\n\nglobal.set(\"img\",dem);\n\nreturn msg;","outputs":1,"noerr":0,"x":1580,"y":1604,"wires":[["4d273e0.df64344","4ba8df63.bd23c8"]]},{"id":"9b5e398.74a25c8","type":"MySQLdatabase","z":"","host":"127.0.0.1","port":"3306","db":"projectdb","tz":""}]
